body {
  background: white;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#btndiv {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.btn {
	height: 74px;
	width: 150px;
	background-color: yellow;
	color: black;
	border: 2px solid black;
}

#parks {
	width: 600px;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.nghbrhdimg {
	width: 400px;
	height: 250px;
}